h2{
	width: 100%;
	text-align: center;
	margin-bottom: 75px;
}

#main{
	width: 100%;
	height: 100%;
}

#cachesAndCores{
	background-color: #DEDEDE;
	border: 3px #6F6F6F solid;
	width: 60%;
	height: 100%;
	padding: 1%;
}

#cache3{
	border: 0px black solid;
	background-color: #DEDEDE;
	width: 100%;
	border-collapse:separate;
	border-spacing: 20px;
}

#cache3 tr{
	background-color: #DEDEDE;
	width: 100%;
}

#cache3 td{
	background-color: #FFFFFF;
	border: 3px #6F6F6F solid;
	padding: 0.5%;
}

#cache2{
	border: 0px black solid;
	background-color: #DEDEDE;
	width: 100%;
	border-collapse:separate;
	border-spacing: 20px;
}

#cache2 tr{
	background-color: #DEDEDE;
	width: 100%;
}

#cache2 td{
	background-color: #FFFFFF;
	border: 3px #6F6F6F solid;
	padding: 0.5%;
}

#cores{
	border: 0px black solid;
	background-color: #DEDEDE;
	width: 100%;
	border-collapse:separate;
	border-spacing: 20px;
}

#cores tr{
	background-color: #DEDEDE;
	width: 100%;
}

#cores td{
	background-color: #BEBEBE;
	border: 3px #6F6F6F solid;
	text-align: center;
	padding: 0.5%;
}

#pus{
	background-color: #FFFFFF;
	border: 0px black solid;
	width: 50%;
	height: 60%;
	border-collapse: collapse;
	margin: 0 auto;
}

#pus tr{
	background-color: #FFFFFF;
}

#pus td{
	background-color: #FFFFFF;
	padding: 0.5%;
}