.pcis {
	width: 35%;
	display:inline-block;
	vertical-align: top;
}

.bridge {
	vertical-align: top;
	border: 1px solid black;
}

.pci {
	display:table;
	border: 2px solid #7F7F7F;
	background-color: #D2E7A4;
	padding: 1%;
	margin: 1%;
	width: 12%;
}

.insidePackage {
	display:inline-block;
	border: 2px solid #7F7F7F;
	padding: 1%;
	width: 60%;
}

.insideNode {
	width: 100%;
}

.caches {
	margin-bottom: 1%;
	text-align:justify;
}

.caches > span {
	display:inline-block;
	border: 2px solid #7F7F7F;
	margin-right: 1%;
	padding-left: 1%;
}

.cores {
	margin-bottom: 1%;
	text-align:justify;
}

.cores > span { 
	display:inline-block;
	border: 2px solid #7F7F7F;
	margin-right: 1%;
	padding-left: 1%;
	padding-bottom: 1%;
}

.coresInNode {
	margin-bottom: 1%;
	text-align:justify;

}

.coresInNode > span { 
	display:inline-block;
	border: 2px solid #7F7F7F;
	margin-right: 1%;
	padding-bottom: 1%;
}

.pus {
	width: 80%;
    margin: 0 auto;
}

.pu{
	border: 1px solid #7F7F7F;
	padding-left: 1%;
}

#left{
	float:left;
	background-color: white;
}

.pcidev {
	border: 2px solid #7F7F7F;
	background-color: #BED295;
	padding-left: 1%;
	width: 30%;
	margin: 1%;
	padding-bottom: 1%;
	text-align: center;
}

.pcidev .osdev {
	border: 2px solid #7F7F7F;
	background-color: #DEDEDE;
	padding: 5%;
    display:inline-block;
}

ul
{
    list-style-type: none;
}

.bridge {
	border: 2px solid #7F7F7F;
	background-color: white;
	width : 10px;
	height: 10px;
}