.entity{
	border: 1px black solid;
	padding: 0;
	margin-bottom: 1%;
}

.frame {
	border: 2px #6F6F6F solid;
	margin: 1%;
	padding: 1%;
}

.package {
	text-align:justify;
}

.package span {
	display: inline-block;
}

.group {
	text-align:justify;
}

.group span{
	display: inline-block;
}

.numanode {
	text-align:justify;
	height: auto;
}

.numanode span{
	display: inline-block;
	vertical-align:top;
	height: auto;
}

.cache3 {
	text-align:justify;
}

.cache3 span {
	display: inline-block;
}

.cache2 {
	text-align:justify;
}


.cache2 span {
	display: inline-block;
}

.cache2bis {
	text-align:justify;
}

.cache2bis span {
	display: inline-block;
}

.cache1 {
	text-align:justify;
}

.cache1 span {
	display: inline-block;
}

.cache1bis {
	text-align:justify;
}

.cache1bis span {
	display: inline-block;
}

.components{
	border:2px solid red;
}

p {
	font-size: 100%;
}

.node rect {
  cursor: pointer;
  stroke: black;
  stroke-width: 1.5px;
}

.node text {
  font: 12px sans-serif;
  pointer-events: none;
}

path.link {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}