.entity{
	display: inline-block;
}

.frame {
	border: 2px #6F6F6F solid;
	margin-bottom: 1%;
	padding-left: 10px;
}

.frame_pu{
	border: 2px #6F6F6F solid;
	width: auto;
	margin-bottom: 1%;
}

.package {
}

.package > span {
	display: inline-block;
	margin: 1%;
}

.group {
	padding: 1%;
}

.group > span{
	display: inline-block;
}

.numanode {
	padding: 1%;
}

.numanode > span{
	display: inline-block;
	vertical-align:top;
}

.cache3 {
}

.cache3 > span {
	display: inline-block;
	margin-right: 10px;
}

.cache2 {
}

.cache2 > span {
	display: inline-block;
}

.cache2bis {
}

.cache2bis > span {
	display: inline-block;
}

.cache1 {
}

.cache1 > span {
	display: inline-block;
}

.cache1bis {
}

.cache1bis > span {
	display: inline-block;
}

#fileLoader{
	display:none;
}

#left{
	float:left;
	background-color: white;
}

.container-custom{
	margin-top:20px;
}
