#cachesAndCores{
	background-color: #DEDEDE;
	border: 3px #6F6F6F solid;
	width: 60%;
}

.biggestCache {
	background-color: #DEDEDE;
	border-collapse: separate;
	border-spacing: 1em 0;
}

.biggestCache tr {
	background-color: #DEDEDE;
}

.biggestCache tbody > tr > td {
	background-color: #DEDEDE;
	border: 3px #6F6F6F solid;
}

.secondCache {
	border-collapse: separate;
	background-color: #DEDEDE;
	border-spacing: 1em 0;
}

.secondCache tbody{
	background-color: #DEDEDE;
}

.secondCache tr {
	background-color: #DEDEDE;
}

.secondCache tbody > tr > td {
	background-color: #DEDEDE;
	border: 3px #6F6F6F solid;
}

.cacheL1 {
	border-collapse: separate;
	background-color: #DEDEDE;
	border-spacing: 1em 0;
}

.cacheL1 tbody{
	background-color: #DEDEDE;
}

.cacheL1 tr {
	background-color: #DEDEDE;
}

.cacheL1 tbody > tr > td {
	background-color: #DEDEDE;
	border: 3px #6F6F6F solid;
}

.cores {
	border-collapse: separate;
	border-spacing: 1em 0;
	background-color: #DEDEDE;
}

.cores tbody {
	background-color: #DEDEDE;
}

.cores tr {
	background-color: #DEDEDE;
}

.cores tbody > tr > td {
	background-color: #BEBEBE;
	border: 3px #6F6F6F solid;
}

.pus {
	background-color: #DEDEDE;
}

.pus tr{
	background-color: #DEDEDE;
}

.pus tbody > tr > td{
	background-color: #FFFFFF;
}

.square {
	border: 3px #6F6F6F solid;
	margin: 1%;
	padding: 1%;
}

.package {
	text-align:justify;
}

.package span {
	display: inline-block;
}

.group {
	text-align:justify;
}

.group span{
	display: inline-block;
}

.numanode {
	text-align:justify;
}

.numanode span{
	display: inline-block;
}

.cache3 {
	text-align:justify;
}

.cache3 span {
	display: inline-block;
}

.cache2 {
	text-align:justify;
}


.cache2 span {
	display: inline-block;
}

.cache2bis {
	text-align:justify;
}

.cache2bis span {
	display: inline-block;
}

.cache1 {
	text-align:justify;
}

.cache1 span {
	display: inline-block;
}

.cache1bis {
	text-align:justify;
}

.cache1bis span {
	display: inline-block;
}

p {
	font-size: 100%;
}