<div id="main">
        <h2>lstopo</h2>
        <p>{{machine}} ({{mb}}MB)</p>
        <div id="cachesAndCores">
        	{{infoSocket}}
        	<table id="cache3">
        		<tr>
        			<td>
        				L{{cacheL3._depth}} ({{convertSizeInKb(cacheL3._cache_size)}}KB)
        			</td>
        		</tr>
        	</table>

        	<table id="cache2">
        		<tr>
        			<td ng-repeat="cache2 in cacheL2">
        				L{{cache2._depth}} ({{convertSizeInKb(cache2._cache_size)}}KB)
        			</td>
        		</tr>
        	</table>

	    	<table id="cores">
	    		<tr>
			    	<td ng-repeat="core in cores"> <!--  ng-style="{width: sizeCore}" -->
			    		<p>{{core._type}} P#{{core._os_index}}</p>
			    		<table id="pus">
			    			<tr ng-repeat="pu in core.object">
			    				<td>
			    					<p>{{pu._type}} P#{{pu._os_index}}</p>
			    				</td>
			    			</tr>
			    		</table>
			    	</td>
		    	</tr>
	    	</table>
    	</div>
</div>
