
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <i class="fa fa-cog"></i> Config
        <a class="btn btn-danger btn-xs pull-right" ng-click="exportConfig()"><i class="fa fa-download"></i> Export</a>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="form-group col-md-3">
            <label>Show</label>
            <div isteven-multi-select input-model="config.show" style="min-width:100%" output-model="serviceLinks" button-label="name" item-label="name maker" tick-property="ticked"></div>
          </div>
          <div class="form-group col-md-3">
            <div ng-show="checkGroups(arrayPackages)" class="row">
              <label>Packages</label>
              <div isteven-multi-select input-model="arrayPackages" style="min-width:100%" output-model="outputPackages" button-label="os_index" item-label="os_index" tick-property="value"></div>
            </div><br/>
            <div ng-show="checkGroups(arrayGroups)" class="row">
              <label>Groups</label>
              <div isteven-multi-select input-model="arrayGroups" style="min-width:100%" output-model="outputGroups" button-label="os_index" item-label="os_index" tick-property="value"></div>
            </div>
            </br>

             <div ng-show="checkGroups(arrayNUMANodes)" class="row">
              <label>NUMANodes</label>
              <div isteven-multi-select input-model="arrayNUMANodes" style="min-width:100%" output-model="outputNUMANodes" button-label="os_index" item-label="os_index" tick-property="value"></div>
            </div>
            </br>

              <div class="row">
               
                <label> Components alignement</label>
         
                    <div ng-repeat="components in componentsChoice">
                        <input type="checkbox" ng-model="components.value"> {{components.description}}   
                    </div>
                </br>
              </div>
          </div>
          <div class="form-group col-md-3">
            <label>Colors</label>
            <div class="row">
              <div ng-repeat="d in userConfig.colors" class="form-group col-md-12">
                <div class="col-md-3">
                  <label>{{d.name}}</label>
                </div>
                <div class="col-md-9">
                  <input colorpicker type="text" class="form-control" ng-model="d.color" ng-change="changeColor(d)"/>
                </div>
              </div>
            </div>

          </div>
          <!--  <form class="ui form">-->
            <div class="form-group col-md-3">
              <label>Save Image</label>
              <select id="export_type" ng-model="config.export" class="form-control">
                <option value="PNG" selected="selected">PNG</option>
                <option value="PDF">PDF</option>
              </select><br/>
              <a class="btn btn-success btn-block" ng-click="download()"  id="download" ><i class="fa fa-download"></i> Download</a>
            </div>
          <!--  </form> -->
        </div>
      </div>
    </div>
  </div>
</div>
