
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <i class="fa fa-cog"></i> Config
        <a class="btn btn-danger btn-xs pull-right" ng-click="exportConfig()"><i class="fa fa-download"></i> Export</a>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="form-group col-md-3">
            <label>Show</label>
            <div isteven-multi-select input-model="config.show" style="min-width:100%" output-model="serviceLinks" button-label="name" item-label="name maker" tick-property="ticked"></div>
          </div>
          <div class="form-group col-md-3">
            <div ng-show="checkGroups(arrayPackages)" class="row">
              <label>Packages</label>
              <div isteven-multi-select input-model="arrayPackages" style="min-width:100%" output-model="output" button-label="os_index" item-label="os_index" tick-property="value"></div>
            </div><br/>
            <div ng-show="checkGroups(arrayGroups)" class="row">
              <label>Groups</label>
              <div isteven-multi-select input-model="arrayGroups" style="min-width:100%" output-model="output" button-label="os_index" item-label="os_index" tick-property="value"></div>
            </div>
            </br>
              <div class="row">
                <label> Alignement</label>
                <div ng-repeat="choices in alignement">
                      <input type="checkbox" ng-model="choices.value" ng-change="change(choices)"> {{choices.alignement}}

                </div>
              </div>
              </br>
              <div class="row">
                <label> Zoom de l'image :  {{zoom}} <label> 
                <button ng-click="Zoom('zoomIn')"> + </button>
                <button ng-click="Zoom('zoomOut')"> - </button>
              </div>
          </div>
          <div class="form-group col-md-3">
            <label>Colors</label>
            <div class="row">
              <div ng-repeat="d in userConfig.colors" class="form-group col-md-12">
                <div class="col-md-3">
                  <label>{{d.name}}</label>
                </div>
                <div class="col-md-9">
                  <input colorpicker type="text" class="form-control" ng-model="d.color" ng-change="changeColor(d)"/>
                </div>
              </div>
            </div>

          </div>
          <div class="form-group col-md-3">
            <label>Save Image</label>
            <select ng-model="config.export" class="form-control">
              <option value="PNG">PNG</option>
              <option value="PDF">PDF</option>
            </select><br/>
            <a class="btn btn-success btn-block" ng-click="download()" ><i class="fa fa-download"></i> Download</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
