
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <i class="fa fa-cog"></i> Config
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="form-group col-md-3">
            <label>Show</label>
            <div isteven-multi-select input-model="config.show" style="min-width:100%" output-model="serviceLinks" button-label="name" item-label="name maker" tick-property="ticked"></div>
          </div>
          <div class="form-group col-md-3">
            <div ng-show="checkGroups(arrayPackages)" class="row">
              <label>Packages</label>
              <select class="form-control">
                <option ng-repeat="package in arrayPackages track by $index">{{package.os_index}}</option>
              </select>
            </div><br/>
            <div ng-show="checkGroups(arrayGroups)" class="row">
              <label>Groups</label>
              <select class="form-control">
                <option ng-repeat="group in arrayGroups track by $index">{{group.os_index}}</option>
              </select>
            </div>
          </div>
          <div class="form-group col-md-3">
            <label>Colors</label>
            <div class="row">
              <div ng-repeat="d in userConfig.colors" class="form-group col-md-12">
                <div class="col-md-3">
                  <label>{{d.name}}</label>
                </div>
                <div class="col-md-9">
                  <input colorpicker type="text" class="form-control" ng-model="d.color" ng-change="changeColor(d)"/>
                </div>
              </div>
            </div>

          </div>
          <div class="form-group col-md-3">
            <label>Save Image</label>
            <select ng-model="config.export" class="form-control">
              <option value="PNG">PNG</option>
              <option value="PDF">PDF</option>
            </select><br/>
            <a class="btn btn-success btn-block" ng-click="download()" ><i class="fa fa-download"></i> Download</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
