<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading"><i class="fa fa-upload"></i> Import XML</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group col-md-3"></div>
					<div class="form-group col-md-3">
						<input  class="form-control" type="file" id="file"  name="file" accept=".xml"/>
					</div>
					<div class="form-group col-md-3">
						<a ng-click="analyseXML()"  id="visualize" class="btn btn-success btn-block"><i class="fa fa-th-large"></i> Visualize</a>
					</div>
					<div class="form-group col-md-3"></div>
				</div>
			</div>
		</div>
	</div>
</div>
