<div ng-include="'views/filter.html'"></div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading"><i class="fa fa-eye"></i> Visualizer</div>
      <div class="panel-body">
        <div ng-style="{'-moz-transform': 'scale({{zoom}})'}" id="components">
          <div ng-repeat="entity in entities">
            <div ng-show="checkPackage(entity.packageOfCacheAndCores.os_index)" ng-if="isNode(entity)">
              <div ng-style="{'background-color':items[7].value}" class="node">
                <div ng-style="{'background-color':items[6].value}" class="numanode">
                  <p>{{entity.numanode.type}} P#{{entity.numanode.os_index}} ({{convertMemory(entity.numanode.local_memory, "gb")}}GB)</p>
                </div>

                <div ng-style="{'background-color':items[5].value}" class="insidePackage">
                  <p>{{entity.packageOfCacheAndCores.type}} P#{{entity.packageOfCacheAndCores.os_index}}</p>

                  <div ng-show="config.show[0].ticked" class="caches">
                    <span ng-repeat="cache3 in entity.packageOfCacheAndCores.caches | filter:{ type: 'L3Cache' }" ng-style="{'width': sizeCache(entity.packageOfCacheAndCores.caches, 'L3Cache'),'background-color':userConfig.colors[0].color}">
                      <p>L{{cache3.depth}} ({{convertMemory(cache3.cache_size, "mb")}}MB)</p>
                    </span>
                  </div>

                  <div ng-show="config.show[1].ticked" class="caches">
                    <span ng-repeat="cache2 in entity.packageOfCacheAndCores.caches | filter:{ type: 'L2Cache' }" ng-style="{'width': sizeCache(entity.packageOfCacheAndCores.caches, 'L2Cache'),'background-color':userConfig.colors[1].color}">
                      <p>L{{cache2.depth}} ({{convertMemory(cache2.cache_size, "kb")}}KB)</p>
                    </span>
                  </div>

                  <div ng-show="config.show[2].ticked"class="caches">
                    <span ng-repeat="cache1 in entity.packageOfCacheAndCores.caches | filter:{ type: 'L1Cache' }" ng-style="{'width': sizeCache(entity.packageOfCacheAndCores.caches, 'L1Cache') ,'background-color':userConfig.colors[2].color}">
                      <p>L{{cache1.depth}} ({{convertMemory(cache1.cache_size, "kb")}}KB)</p>
                    </span>
                  </div>

                  <div ng-show="config.show[2].ticked" class="caches">
                    <span ng-repeat="cache1bis in entity.packageOfCacheAndCores.caches | filter:{ type: 'L1iCache' }" ng-style="{'width': sizeCache(entity.packageOfCacheAndCores.caches, 'L1iCache'),'background-color':userConfig.colors[2].color}">
                      <p>L{{cache1bis.depth}}i ({{convertMemory(cache1bis.cache_size, "kb")}}KB)</p>
                    </span>
                  </div>

                  <div ng-show="config.show[3].ticked" class="cores">
                    <span ng-repeat="core in entity.packageOfCacheAndCores.cores" ng-style="{'width': sizeCache(entity.packageOfCacheAndCores.cores, 'Core'),'background-color':userConfig.colors[3].color}">
                      <p>{{core.type}} P#{{core.os_index}}</p>

                      <div ng-show="config.show[4].ticked" class="pus">
                        <div ng-style="{'background-color':userConfig.colors[4].color}" class="pu" ng-repeat="pu in core.pus">
                          <p>{{pu.type}} P#{{pu.os_index}}</p>
                        </div>
                      </div>
                    </span>
                  </div>

                </div>

                <div class="pcis">
                  <!--<div id="{{ 'object-' + $index }}" ng-controller="TestCtrl" ng-init="begin(entity.entitiesBridge, $index)" >
                </div>-->
                <ul>
                  <li ng-repeat="bridge in entity.entitiesBridge" ng-include="'bridgeTree'"></li>
                </ul>

                <!--<table>
                <tr ng-repeat="bridge in entity.entitiesBridge" ng-include="'bridgeTreeBis'"></tr>
              </table>-->
            </div>

          </div>
        </div>

        <div ng-show="checkPackage(entity.os_index)" ng-if="isPackage(entity)">
          <div ng-style="{'background-color':items[5].value}" class="package">
            {{entity.type}} P#{{entity.os_index}}
            <div ng-style="{'background-color':items[7].value}" ng-repeat="node in entity.entities" class="node">
              <div ng-style="{'background-color':items[6].value}" class="numanode">
                <p>{{node.numanode.type}} P#{{node.numanode.os_index}} ({{convertMemory(node.numanode.local_memory, "gb")}}GB)</p>
              </div>

              <div class="insideNode">
                <div ng-show ="config.show[0].ticked" class="caches">
                  <span ng-repeat="cache3 in node.caches | filter:{ type: 'L3Cache' }" ng-style="{'width': sizeCache(node.caches, 'L3Cache'),'background-color':userConfig.colors[0].color}">
                    <p>L{{cache3.depth}} ({{convertMemory(cache3.cache_size, "kb")}}KB)</p>
                  </span>
                </div>

                <div ng-show="config.show[1].ticked" class="caches">
                  <span ng-repeat="cache2 in node.caches | filter:{ type: 'L2Cache' }" ng-style="{'width': sizeCache(node.caches, 'L2Cache'),'background-color':userConfig.colors[1].color}">
                    <p>L{{cache2.depth}} ({{convertMemory(cache2.cache_size, "kb")}}KB)</p>
                  </span>
                </div>

                <div ng-show="config.show[2].ticked" class="caches">
                  <span ng-repeat="cache1 in node.caches | filter:{ type: 'L1Cache' }" ng-style="{'width': sizeCache(node.caches, 'L1Cache'),'background-color':userConfig.colors[2].color}">
                    <p>L{{cache1.depth}} ({{convertMemory(cache1.cache_size, "kb")}}KB)</p>
                  </span>
                </div>

                <div ng-show="config.show[2].ticked" class="caches">
                  <span ng-repeat="cache1bis in node.caches | filter:{ type: 'L1iCache' }" ng-style="{'width': sizeCache(node.caches, 'L1iCache'),'background-color':userConfig.colors[2].color}">
                    <p>L{{cache1bis.depth}} ({{convertMemory(cache1bis.cache_size, "kb")}}KB)</p>
                  </span>
                </div>

                <div ng-show="config.show[3].ticked" class="coresInNode">
                  <span ng-repeat="core in node.cores" ng-style="{'width': sizeCache(node.cores, 'Core'),'background-color':userConfig.colors[3].color}">
                    <p>{{core.type}} P#{{core.os_index}}</p>

                    <div ng-show="config.show[4].ticked" class="pus">
                      <div ng-style="{'background-color':userConfig.colors[4].color}" class="pu" ng-repeat="pu in core.pus">
                        <p>{{pu.type}} P#{{pu.os_index}}</p>
                      </div>
                    </div>

                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div ng-show="ShowGroup(entity)" ng-if="isGroup(entity)">
          <p> {{entity.type}}{{entity.depth}}<p>

            <div ng-style="{'background-color':items[7].value}" ng-show="checkPackage(node.packageOfCacheAndCores.os_index)" ng-repeat="node in entity.entities" class="node">

              <div ng-style="{'background-color':items[6].value}" class="numanode">
                <p>{{node.numanode.type}} P#{{node.numanode.os_index}} ({{convertMemory(node.numanode.local_memory, "gb")}}GB)</p>
              </div>

              <div ng-style="{'background-color':items[5].value}" class="insidePackage">
                <p>Package#{{node.packageOfCacheAndCores.os_index}}</p>
                <div ng-show ="config.show[0].ticked" class="caches">
                  <span ng-style="{'background-color':userConfig.colors[0].color, 'width': sizeCache(node.packageOfCacheAndCores.caches, 'L3Cache')}" ng-repeat="cache3 in node.packageOfCacheAndCores.caches | filter:{ type: 'L3Cache' }">
                    <p>L{{cache3.depth}} ({{convertMemory(cache3.cache_size, "mb")}}MB)</p>
                  </span>
                </div>

                <div ng-show="config.show[1].ticked" class="caches">
                  <span ng-style="{'background-color':userConfig.colors[1].color , 'width': sizeCache(node.packageOfCacheAndCores.caches, 'L2Cache')}" ng-repeat="cache2 in node.packageOfCacheAndCores.caches | filter:{ type: 'L2Cache' }">
                    <p>L{{cache2.depth}} ({{convertMemory(cache2.cache_size, "kb")}}KB)</p>
                  </span>
                </div>

                <div ng-show="config.show[2].ticked" class="caches">
                  <span ng-style="{'background-color':userConfig.colors[2].color , 'width': sizeCache(node.packageOfCacheAndCores.caches, 'L1Cache')}" ng-repeat="cache1 in node.packageOfCacheAndCores.caches | filter:{ type: 'L1Cache' }">
                    <p>L{{cache1.depth}} ({{convertMemory(cache1.cache_size, "kb")}}KB)</p>
                  </span>
                </div>

                <div ng-show="config.show[2].ticked" class="caches">
                  <span ng-style="{'background-color':userConfig.colors[2].color, 'width': sizeCache(node.packageOfCacheAndCores.caches, 'L1iCache')}" ng-repeat="cache1bis in node.packageOfCacheAndCores.caches | filter:{ type: 'L1iCache' }">
                    <p>L{{cache1bis.depth}} ({{convertMemory(cache1bis.cache_size, "kb")}}KB)</p>
                  </span>
                </div>

                <div ng-class="config.show[3].ticked" ng-show="cores == true" class="coresInNode">
                  <span ng-style="{'background-color':items[0].value, 'width': sizeCache(node.packageOfCacheAndCores.cores, 'Core')}" ng-repeat="core in node.packageOfCacheAndCores.cores">
                    <p>{{core.type}} P#{{core.os_index}}</p>

                    <div ng-show="config.show[4].ticked" class="pus">

                      <div ng-show="alignement[0].value" ng-style="{'background-color':userConfig.colors[3].color}" class="pu" ng-repeat="pu in core.pus">
                        <p>{{pu.type}} P#{{pu.os_index}}</p>
                      </div>

                      <table ng-hide="alignement[0].value">
                        <tr>
                          <td ng-repeat="pu in core.pus">
                            <div ng-style="{'background-color':userConfig.colors[4].color, 'font-size': sizePu(node.packageOfCacheAndCores.cores[$parent.$index].pus, 'PU'), 'border': '1px solid #7F7F7F' }" >
                              <p>{{pu.type}} P#{{pu.os_index}}</p>
                            </div>
                          </td>
                        </tr>
                      </table>
                    </div>

                  </span>
                </div>
              </div>
            </div>
          </div>

          <div ng-if="isSocket(entity)">
            <div class="socket">
              {{entity.type}} P#{{entity.os_index}}

              <div class="caches">
                <span ng-show ="config.show[0].ticked" ng-repeat="cache3 in entity.caches | filter:{ depth: '3', cache_type: '0'}" ng-style="{'width': sizeCacheWithDepthAndType(entity.caches, '3', '0'),'background-color':userConfig.colors[0].color}">
                  <p>L{{cache3.depth}} ({{convertMemory(cache3.cache_size, "kb")}}KB)</p>
                </span>
              </div>

              <div class="caches">
                <span ng-show="config.show[1].ticked" ng-repeat="cache2 in entity.caches | filter:{ depth: '2', cache_type: '0' }" ng-style="{'width': sizeCacheWithDepthAndType(entity.caches, '2', '0'),'background-color':userConfig.colors[1].color}">
                  <p>L{{cache2.depth}} ({{convertMemory(cache2.cache_size, "kb")}}KB)</p>
                </span>
              </div>

              <div class="caches">
                <span ng-show="config.show[2].ticked" ng-repeat="cache1 in entity.caches | filter:{ depth: '1', cache_type: '1'}" ng-style="{'width': sizeCacheWithDepthAndType(entity.caches, '1', '1'),'background-color':userConfig.colors[2].color}">
                  <p>L{{cache1.depth}}d ({{convertMemory(cache1.cache_size, "kb")}}KB)</p>
                </span>
              </div>

              <div class="caches">
                <span ng-show="config.show[2].ticked" ng-repeat="cache1bis in entity.caches | filter:{ depth: '1', cache_type: '2'}" ng-style="{'width': sizeCacheWithDepthAndType(entity.caches, '1', '2'),'background-color':userConfig.colors[2].color}">
                  <p>L{{cache1bis.depth}}i ({{convertMemory(cache1bis.cache_size, "kb")}}KB)</p>
                </span>
              </div>

              <div ng-show="config.show[3].ticked" class="cores">
                <span ng-repeat="core in entity.cores" ng-style="{'width': sizeCache(entity.cores, 'Core'),'background-color':userConfig.colors[3].color}">
                  <p>{{core.type}} P#{{core.os_index}}</p>

                  <div class="pus">
                    <div ng-show="config.show[4].ticked" ng-style="{'background-color':userConfig.colors[4].color}" class="pu" ng-repeat="pu in core.pus">
                      <p>{{pu.type}} P#{{pu.os_index}}</p>
                    </div>
                  </div>

                </span>
              </div>
            </div>
          </div>



        </div>
      </div>
      </div>
    </div>
</div>
</div>





<script src="scripts/graph_PCI/libs/jquery.min.js"></script>
<script src="scripts/graph_PCI/libs/lodash.min.js"></script>
<script src="scripts/graph_PCI/libs/backbone-min.js"></script>
<script src="scripts/graph_PCI/libs/joint.js"></script>
<script src="scripts/graph_PCI/graph_PCI.js"></script>
<!-- template récursif pour l'affichage des bridges -->
<script type="text/ng-template" id="bridgeTree">
<div ng-if="bridge.type=='Bridge'" class="bridge"></div>
<!--<p ng-if="bridge.type=='Bridge'">{{bridge.type}} {{bridge.depth}}</p>-->
<!--<p ng-if="bridge.type=='PCIDev'">PCI {{convertBusid(bridge.pci_busid)}}</p>-->
<div ng-if="bridge.type=='PCIDev'" class="pcidev"><p>PCI {{convertBusid(bridge.pci_busid)}}</p>
<div ng-if="bridge.entitiesOsDev">
<div class="osdev" ng-repeat="os in bridge.entitiesOsDev">
<p> {{os.name}} </p>
</div>
</div>
</div>
<ul ng-if="bridge.child">
<li ng-repeat="bridge in bridge.child" ng-include="'bridgeTree'">

</li>
</ul>
</script>

<!--<script type="text/ng-template" id="bridgeTreeBis">
<td>
<p>
{bridge.type}} {{bridge.depth}}
</p>
</td>

<tr ng-if="bridge.child">
<td ng-repeat="bridge in bridge.child">
</td>
</tr>
</script>-->
