<div ng-include="'views/filter.html'"></div>


<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading"><i class="fa fa-eye"></i> Visualizer</div>
      <div ng-style="{'font-size': font_size}" id="components" class="panel-body">
        <div class="alert alert-success" ng-show="!loaded">Loading ...</div>
        <div class="entity" ng-if="alignementComponents('Groups')" ng-repeat="entity in ::entities" ng-include="'views/components.html'"></div>
        <div class="entity" ng-if="!alignementComponents('Groups')" ng-repeat="entity in entities" ng-style="{'display' : 'table-cell'}" ng-include="'views/components.html'"></div>
        <div ng-include="'views/components.html'" onload="loaded = true"></div>
      </div>
    </div>
  </div>
</div>
</div>
